# Données (trop volumineuses / sensibles pour git)
data/raw/*.csv
data/raw/*.csv.zip
data/processed/*.csv

# Modèles entraînés
models/*.pkl
models/*.joblib

# Environnement Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Système
.DS_Store